# Python conditional statements and loops

In [1]:
bal= 100000
z= 0.045
years=0

while (bal<300000):
    bal+=(bal*z)
    years=years+1
print(bal)
print(years)

300543.4456537098
25

In [29]:
mehdi= 1
john= 100000
mehd_int= 0.05
john_int=0.035
years=0

In [30]:
while (mehdi < john):
    mehdi+=(mehdi*mehd_int)
    john+=(john*john_int)
    years= years + 1
print(mehdi)
print(john)
print(years)

9.389199241706723e+16
9.272998384927869e+16
801

In [4]:
index= 0
names=['Darius', 'Agnes', 'Sharon', 'Cecilia']
while (index<=len(names)-1):
    name= names[index]
    index= index+ 1
    print(name)
    print(index)

Darius
1
Agnes
2
Sharon
3
Cecilia
4

In [14]:
index= -1
#x= 0
names=['Daris','Agnes','Sharon','Cecilia']
while (index >=-4):
    name= names[index]
    print(index)
    index= index- 1
    #x+= 1
    
    print(name)

-1
Cecilia
-2
Sharon
-3
Agnes
-4
Daris

In [57]:
numbers= [3,7,12]
 
for i in numbers :
    print( 'i = ', i , ':', end= " "),
    for j in range(1, 10):
        print ('{:2d}'.format(i*j), end= ' ')
    print('\n')

i =  3 :  3  6  9 12 15 18 21 24 27

i =  7 :  7 14 21 28 35 42 49 56 63

i =  12 : 12 24 36 48 60 72 84 96 108

In [54]:
#Increament

for i in range(1,10):
    for num in range(i):
        print(i, end = ' ')
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [56]:
for i in range(1, 10):
    print(str(i)*i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [66]:

def power(x,y):
    print(x**y)
power(2,3)

8

In [67]:
def power(x,y):
    return(x**y)
power(2,4)

16

## WHILE LOOPS

In [69]:
#Print i as long as i is less than 6

i= 0
while i< 6:
    i += 1
    print(i)

1
2
3
4
5
6

In [1]:
#Break at 3

i= 0
while i< 6:
    print(i)
    if i ==3:
        break
    i += 1

0
1
2
3

In [2]:
# Continue

i= 0
while i < 7:
    i += 1
    if i ==3:
        continue
    print(i)

1
2
4
5
6
7

In [3]:
#The Else statement

i =0
while i < 7:
    print(i)
    i += 1
else:
    print('i is no longer less than 6')

0
1
2
3
4
5
6
i is no longer less than 6

## FOR LOOPS

In [4]:
names= [' Sharon', 'Brian','Cecilia']
for x in names:
    print(x)

 Sharon
Brian
Cecilia

In [5]:
#Looping through a string

for x in 'Brian':
    print(x)

B
r
i
a
n

In [8]:
#The break Statement

fruits= ['banana', 'apple', 'mangoe']
for x in fruits:
    print(x)
    if x == 'banana':
        break

banana

In [11]:
pets= ['dogs','cats','pigs']
for x in pets:
    #print(x)
    if x == 'cats':
        break
    print(x)

dogs

In [12]:
#Continue statement

for x in pets:
    #print(x)
    if x== 'dogs':
        continue
    print(x)

cats
pigs

In [13]:
# Range Statement

for x in range (6):
    print(x)

0
1
2
3
4
5

In [14]:
for x in range(2,6):
    print(x)

2
3
4
5

In [15]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [16]:
#Else in For Loop

for x in range(6):
    print(x)
else:
    print('Done')

0
1
2
3
4
5
Done

> NESTED LOOPS

In [18]:
fruits=['apple','banana','oranges']
names=['Sharon','Brian','Cecilia']
for x in fruits:
    for y in names:
        print(x,y)
    print('\n')

apple Sharon
apple Brian
apple Cecilia


banana Sharon
banana Brian
banana Cecilia


oranges Sharon
oranges Brian
oranges Cecilia

# QUESTIONS

## 1. Write a Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

In [47]:
numbers=[]
for x in range(1500,2701):
    if (x %7 ==0) & (x%5==0):
        numbers.append(x)
print(numbers)
#         print(x)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

## 2. Write a Python program to convert temperatures to and from celsius, fahrenheit.

> Fahrenheit to Celsius formula:

(°F - 32) x 5/9 = °C or in plain english, First subtract 32, then multiply by 5,
then divide by 9.

> Celsius to Fahrenheit formula:

(°C × 9/5) + 32 = °F or in plain English, Multiple by 5, then divide by 9, then
add 32.

In [ ]:
temp= int(input('Input temprature'))

## 3. Write a Python program to guess a number between 1 to 9

In [ ]:
import random
number, guess_num= random.randint(1,10), 0
while number!= guess_num:
    guess_num= int(input('Guess a number between 1 and 10: '))
print('Well Done')

Guess a number between 1 and 10:  3

## 4. Write a Python program to construct the following pattern, using a nested for loop.

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [2]:
n= 6;
for i in range (n):
    for j in range(i):
        print('*', end='')
    print('')

*
**
***
****
*****

## 5. Write a Python program that accepts a word from the user and reverse it

In [20]:
word= input('Enter a word to reverse it: ')
for char in range (len(word)-1, -1, -1):
    print(word[char], end='')
print('/n')

Enter a word to reverse it:  sharon

norahs/n

## 6. Write a Python program to count the number of even and odd numbers from a series of numbers.

In [33]:
numbers=[0,1,2,3,4,5,6,7,8,9]

odd= 0
even=0
for x in numbers:
    if (x%2 == 0):
        even+=1
    else:
        odd+=1
print('Even number in the list', even)
print('Odd numbers in th elist', odd)

Even number in the list 5
Odd numbers in th elist 5

## 7. Write a Python program that prints each item and its corresponding type from the following list.
Sample List : datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

## 8. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [36]:
list=[0,1,2,3,4,5,6]
for x in list:
    if (x==3 or x==6):
        continue
    print(x, end='')
print('\n')

01245

## 9. Write a Python program to get the Fibonacci series between 0 to 50
Every next number is found by adding up the two numbers before it.

In [37]:
x=0
y=1

while y< 50:
    print(y)
    x,y= y,x+y

1
1
2
3
5
8
13
21
34

## 10. Write a Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [48]:
for x in range (51):
    if (x%3 ==0) & ( x%5 ==0):
        print('FizzBuzz')
    elif (x%3 == 0):
        print('Fizz')
    elif (x%5 == 0):
        print('Buzz')
    else:
        print(x)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz

## 11. Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.

In [78]:
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]

for row in range(row_num):
    for col in range(col_num):
        multi_list[row][col]= row*col

print(multi_list)

Input number of rows:  4
Input number of columns:  7

[[0, 0, 0, 0, 0, 0, 0], [0, 1, 2, 3, 4, 5, 6], [0, 2, 4, 6, 8, 10, 12], [0, 3, 6, 9, 12, 15, 18]]

## 12. Write a Python program that accepts a sequence of lines (blank line to terminate) as input and prints the lines as output (all characters in lower case).

In [ ]:
lines = []
while True:
    l = input()
    if l:
        lines.append(l.upper())
    else:
        break;

for l in lines:
    print(l)

## 13. Write a Python program which accepts a sequence of comma separated 4 digit binary numbers as its input and print the numbers that are divisible by 5 in a comma separated sequence.

In [ ]:
items = []
num =[x for x in input().split(',')]
for z in num:
    y= int(z,2)
    if not y%5:
        items.append(z)
    print(','.join(items))

## 14. Write a Python program that accepts a string and calculate the number of digits and letters

In [50]:
word= input('Enter any string: ')
d=l=0
for c in word:
    if c.isdigit():
        d= d+1
    elif c.isalpha():
        l= l+1
    else:
        pass
print('Letters', l)
print('Digit', d)

Enter any string:  Sharon 56

Letters 6
Digit 2

## 15. Write a Python program to check the validity of password input by users.
Validation :

At least 1 letter between [a-z] and 1 letter between [A-Z].

At least 1 number between [0-9].

At least 1 character from [$#@].

Minimum length 6 characters.

Maximum length 16 characters.

Click me to see the sample solut

In [57]:
import re
p= input("Input your password")
x = True
while x:  
    if (len(p)<6 or len(p)>12):
        break
    elif not re.search("[a-z]",p):
        break
    elif not re.search("[0-9]",p):
        break
    elif not re.search("[A-Z]",p):
        break
    elif not re.search("[$#@]",p):
        break
    elif re.search("\s",p):
        break
    else:
        print("Valid Password")
        x=False
        break

if x:
    print("Not a Valid Password")

Input your password Sh@rOn123#

Valid Password

## 16. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence

In [69]:
numbers= []
for x in range (100,401):
    s= str(x)
    if(int(s[0])%2 == 0) and (int(s[1])%2 ==0) and (int(s[2])%2 == 0):
        numbers.append(s)
    print("," .join(numbers))

200
200
200,202
200,202
200,202,204
200,202,204
200,202,204,206
200,202,204,206
200,202,204,206,208
200,202,204,206,208
200,202,204,206,208
200,202,204,206,208
200,202,204,206,208
200,202,204,206,208
200,202,204,206,208
200,202,204,206,208
200,202,204,206,208
200,202,204,206,208
200,202,204,206,208
200,202,204,206,208
200,202,204,206,208,220
200,202,204,206,208,220
200,202,204,206,208,220,222
200,202,204,206,208,220,222
200,202,204,206,208,220,222,224
200,202,204,206,208,220,222,224
200,202,204,206,208,220,222,224,226
200,202,204,206,208,220,222,224,226
200,202,204,206,208,220,222,224,226,228
200,202,204,206,208,220,222,224,226,228
200,202,204,206,208,220,222,224,226,228
200,202,204,206,208,220,222,224,226,228
200,202,204,206,208,220,222,224,226,228
200,202,204,206,208,220,222,224,226,228
200,202,204,206,208,220,222,224,226,228
200,202,204,206,208,220,222,224,226,228
200,202,204,206,208,220,222,224,226,228
200,202,204,206,208,220,222,224,226,228
200,202,204,206,208,220,222,224,226,228
200,202,204,206,208,220,222,224,226,228
200,202,204,206,208,220,222,224,226,228,240
200,202,204,206,208,220,222,224,226,228,240
200,202,204,206,208,220,222,224,226,228,240,242
200,202,204,206,208,220,222,224,226,228,240,242
200,202,204,206,208,220,222,224,226,228,240,242,244
200,202,204,206,208,220,222,224,226,228,240,242,244
200,202,204,206,208,220,222,224,226,228,240,242,244,246
200,202,204,206,208,220,222,224,226,228,240,242,244,246
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288
200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

## 17. Write a Python program to print alphabet pattern 'A

In [70]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((column == 1 or column == 5) and row != 0) or ((row == 0 or row == 3) and (column > 1 and column < 5))):    
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

## 18. Write a Python program to print alphabet pattern 'D'

In [71]:
result_str="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (column == 1 or ((row == 0 or row == 6) and (column > 1 and column < 5)) or (column == 5 and row != 0 and row != 6)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****

## 19. Write a Python program to print alphabet pattern 'E

In [74]:
result_str="";
for row in range(0,7):
    for column in range(0,7):
        if(column == 1 or ((row == 0 or row ==6) and (column > 1 and column <6)) or (row== 3 and column > 1 and column < 5)):
          result_str= result_str+"*"
        else:
          result_str = result_str+" "
    result_str = result_str+"\n"
print(result_str);

 *****
 *
 *
 ****
 *
 *
 *****

## 20. Write a Python program to calculate a dog's age in dog's years.
Note: For the first two years, a dog year is equal to 10.5 human years. After that, each dog year equals 4 human years.

In [75]:
h_age= int(input('Input a dogs age in human years: '))
if h_age < 0:
    print('Age is a positive number')
    exit()
elif h_age <= 2:
    d_age = h_age * 10.5
else:
    d_age = 21 +( h_age -2)* 4
print('The dogs age in dogs years is', d_age)

Input a dogs age in human years:  4

The dogs age in dogs years is 29

## 21. Write a Python program to check a string represent an integer or not

In [76]:
text = input('Input a string: ')
text= text.strip()
if len(text) < 1:
    print('Input a valid text')
else:
    if all(text[i] in "0123456789" for i in range(len(text))):
        print('The string is an Integer')
    elif ( text[0] in "+-") and \
         all(text[i] in "0123456789" for i in range(1, len(text))):
         print("The string is an integer")
    else:
        print('The string is not an integer')

Input a string:  Nzaya

The string is not an integer

## 23. Write a Python program to check a triangle is equilateral, isosceles or scalene.

In [77]:
print('Input length of the triangles: ')
x= int(input('x: '))
y= int(input('y: '))
z= int(input('z: '))

if x==y==z:
    print('Equilateral triangle')
elif x==y or y==z or z==x:
    print('Isosceles Triangle')
else:
    print('Scalene Triangle')

Input length of the triangles:

x:  76
y:  12
z:  60

Scalene Triangle

## 24. Write a Python program to check whether an alphabet is a vowel or consonant

In [2]:
l = input("Input a letter of the alphabet: ")

if l in ('a', 'e', 'i', 'o', 'u'):
	print("%s is a vowel." % l)
elif l == 'y':
	print("Sometimes letter y stand for vowel, sometimes stand for consonant.")
else:
	print("%s is a consonant." % l)

Input a letter of the alphabet:  d

d is a consonant.

## Remove Percantages

In [44]:
def string(x):
    y = x.strip('%')
    z = float(y) / 100
    return z
string('43.2%')

0.43200000000000005

In [52]:
import pandas as pd

In [53]:
raw_data_2 = {'first_name': ['Sarah', 'Gueniva', 'Know', 'Sara', 'Cat'], 
        'last_name': ['Mornig', 'Jaker', 'Alom', 'Ormon', 'Koozer'], 
        'age': [53, 26, 72, 73, 24], 
        'preTestScore': ['13 %', '52 %', '72 %', '26 %', '26 %'],
        'postTestScore': ['82 %', '52 %', '56 %', '234 %', '254 %']}
df_2 = pd.DataFrame(raw_data_2, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])
df_2

  first_name last_name  age preTestScore postTestScore
0      Sarah    Mornig   53         13 %          82 %
1    Gueniva     Jaker   26         52 %          52 %
2       Know      Alom   72         72 %          56 %
3       Sara     Ormon   73         26 %         234 %
4        Cat    Koozer   24         26 %         254 %

In [63]:
def convert_percantage_string(x):
    return float(x.replace('%',''))/100

def clean_dataset_percentage_string(dataframe, columns):
    for col in columns:
         dataframe[col]=dataframe[col].apply(convert_percantage_string)
clean_dataset_percentage_string(df_2, ['preTestScore','postTestScore'])
df_2

  first_name last_name  age  preTestScore  postTestScore
0      Sarah    Mornig   53          0.13           0.82
1    Gueniva     Jaker   26          0.52           0.52
2       Know      Alom   72          0.72           0.56
3       Sara     Ormon   73          0.26           2.34
4        Cat    Koozer   24          0.26           2.54